*.class
*.cache
*.dex
*.apk
*.ap_
*.properties
*.classpath
*.jar
*.war
*.ear
aSupporto/
EclipseProg/Scouthis/gen/
EclipseProg/Scouthis/facebook-android-sdk-3.8.0
aSupporto/CustomizedListView/gen/
EclipseProg/Scouthis/bin/